<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions will be merged into user's app manifest -->
    <!-- Users still need to add these to their app's AndroidManifest.xml:
         - READ_EXTERNAL_STORAGE (Android 12-)
         - READ_MEDIA_AUDIO (Android 13+)
    -->
</manifest>
